<div class="board" cdkDropListGroup>
  <ng-container *ngFor="let tileR of boardData.row">
    <ng-container *ngFor="let tileC of boardData.column">
      <div
        cdkDropList
        (cdkDropListDropped)="pieceService.onPieceDropped($event)"
        class="tile"
        [id]="getTileId(tileR, tileC)"
        [ngClass]="[
          getHighlightedTile(tileR, tileC),
          blackOrWhite(tileR, tileC)
        ]"
      >
        <ng-container *ngFor="let piece of boardService.boardState">
          <ng-container
            [ngSwitch]="piece.type"
            *ngIf="getTile(tileR, tileC, piece)"
          >
            <pawn *ngSwitchCase="'pawn'" [data]="piece"></pawn>
            <bishop *ngSwitchCase="'bishop'" [data]="piece"></bishop>
            <queen *ngSwitchCase="'queen'" [data]="piece"></queen>
            <king *ngSwitchCase="'king'" [data]="piece"></king>
            <knight *ngSwitchCase="'knight'" [data]="piece"></knight>
            <rook *ngSwitchCase="'rook'" [data]="piece"></rook>
          </ng-container>
        </ng-container>

        <span class="tile__label"
          >{{ tileR | getNormalizeRow }} / {{ tileC }}</span
        >
      </div>
    </ng-container>
  </ng-container>
</div>
