<div class="board" cdkDropListGroup [ngClass]="getFlipClass()">
  <ng-container *ngFor="let tileR of boardData.row">
    <ng-container *ngFor="let tileC of boardData.column">
      <div
        cdkDropList
        (cdkDropListDropped)="pieceService.onPieceDropped($event)"
        class="tile"
        [id]="getTileId(tileR, tileC)"
        [ngClass]="[
          getAttackedTile(tileR, tileC),
          getHighlightedTile(tileR, tileC),
          blackOrWhite(tileR, tileC)
        ]"
      >
        <ng-container *ngFor="let piece of boardService.boardState">
          <ng-container
            [ngSwitch]="piece.type"
            *ngIf="getTile(tileR, tileC, piece)"
          >
            <pawn
              *ngSwitchCase="'pawn'"
              [data]="piece"
              [ngClass]="getFlipClass()"
            ></pawn>
            <bishop
              *ngSwitchCase="'bishop'"
              [data]="piece"
              [ngClass]="getFlipClass()"
            ></bishop>
            <queen
              *ngSwitchCase="'queen'"
              [data]="piece"
              [ngClass]="getFlipClass()"
            ></queen>
            <king
              *ngSwitchCase="'king'"
              [data]="piece"
              [ngClass]="getFlipClass()"
            ></king>
            <knight
              *ngSwitchCase="'knight'"
              [data]="piece"
              [ngClass]="getFlipClass()"
            ></knight>
            <rook
              *ngSwitchCase="'rook'"
              [data]="piece"
              [ngClass]="getFlipClass()"
            ></rook>
          </ng-container>
        </ng-container>

        <span class="tile__label" [ngClass]="getFlipClass()"
          >{{ tileR | getNormalizeRow }} / {{ tileC }}</span
        >
      </div>
    </ng-container>
  </ng-container>
</div>
